body {
  background-color: #09cdf6;
  font-family: comic sans ms;
}

header {
  background-color: #a1d700;
}

.left-align {
  margin-left: 10px;
}

.right-align {
  margin-right: 10px;
}

.align-center {
  text-align: center;
}

nav h2 {
  margin-bottom: 0;
}

nav h4 {
  margin-top: 0;
  margin-bottom: 0;
  display: none;
}

#tip-cat {
  display: inline-block;
  vertical-align: middle;
}

#create-tip {
  float: right;
  margin-top: 20px;
}

/*.restaurant-box {
  border: 1px solid black;
  margin: 0px 0px 4px 4px;
  display: inline-block;
  width: 30%;
}

.review-box {
  border: 1px solid black;
  margin: 0px 4px 4px 4px;
  padding: 3px;
  }*/

h1 a {
  text-decoration: none;
  color: white;

}

#welcome {
  float: right;
  vertical-align: middle;
}

h1 {
  display: inline-block;
  vertical-align: middle;
}

article {
  background-color: white;
  margin-bottom: 6px;
  border: 1px solid black;
  margin-right: 50px;
  padding: 3px;
}

#welcome-message {
  background-color: white;
  margin-bottom: 6px;
  border: 1px solid black;
  margin-right: 50px;
  margin-left: 50px;
  padding: 20px;
  text-align: center;
}

input {
  margin-bottom: 4px;
  margin-top: 4px;
}

#test {
  text-align: center;
}