<h2 class="align-center">Welcome to Envirotip</h2>

<p id="welcome-message">Envirotip is the best place to share and learn the best environmentally and sustainably conscious lifestyle tips. Subscribe to our mailing list to get a daily text of new and exciting tips. If you input your average energy and water usage, you can also see how you compare to other Envrotip users.</p>

<h3 class="align-center"><a href="/users/new" id="subscribe-now">Subscribe Now!</a></h3>